<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/css/code.css}">
</head>
<body class="timo-layout-page">
    <div class="layui-card">
        <div class="layui-card-header timo-card-header">
            <span><i class="fa fa-bars"></i> 代码生成</span>
            <i class="layui-icon layui-icon-refresh refresh-btn"></i>
        </div>
        <div class="layui-card-body">
            <fieldset class="layui-elem-field">
                <legend class="code-legend">基本信息</legend>
                <div class="layui-field-box">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">项目路径</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">项目包名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">作者名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">业务名称</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">模块名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">父级菜单</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">表前缀</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">表名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">实体类</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="panel">
                <div class="panel-header">
                    <div class="title">实体类</div>
                    <div class="path">User(sys_user)</div>
                </div>
                <div class="panel-body">

                </div>
            </div>
            <div class="panel">
                <div class="panel-header">
                    <div class="title">模板信息</div>
                    <div class="info"><i></i>创建<i class="lose"></i>忽略</div>
                    <div class="path">模块路径：com.linln.admin.system</div>
                </div>
                <div class="panel-body">
                    <div class="float-label active" title="com.linln.admin.system.controller.UserController">控制器：UserController</div>
                    <div class="float-label">实体类：User</div>
                    <div class="float-label active">dao层：UserRepository</div>
                    <div class="float-label">服务层：UserService</div>
                    <div class="float-label active">控制器：UserController</div>
                    <div class="float-label active">认证类：UserForm</div>
                    <div class="float-label active">列表页面：user/index.html</div>
                    <div class="float-label active">添加页面：user/add.html</div>
                    <div class="float-label active">详细页面：user/detail.html</div>
                </div>
            </div>
        </div>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>