<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
<div class="layui-form timo-compile">
    <form th:action="@{/dict/add}">
        <input type="hidden" name="id" th:if="${dict}" th:value="${dict.id}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">字典标识</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="name"  placeholder="请输入字典键名" th:value="${dict?.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">字典标题</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="title"  placeholder="请输入字典标题" th:value="${dict?.title}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">字典类型</label>
            <div class="layui-input-inline">
                <select name="type" mo:dictKey="DICT_TYPE" mo-selected="${dict} ? ${dict.type} : 2" lay-verify="type"></select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">字典值</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入字典值" class="layui-textarea" name="value">[[${dict?.value}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${dict?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>